.container-fluid {
  background: #e0e5ef;
  min-height: 100vh;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background: #e2e8f0;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  height: 480px;
  width: 600px;
  padding: 40px 0px;
  text-align: center;
}

.app-logo {
  background: #007bff;
  border-radius: 18px;
  width: 100px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-outline-primary,
.btn-outline-danger {
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
